<% layout('layouts/boilerplate') -%>

<div class="h-24 translate-y-32 flex flex-col justify-between items-center">
  <div><h2 class="text-3xl font-extrabold">Hubview</h2></div>
  <div class="p-2 flex w-screen h-16">
    <form
      action=""
      class="h-12 p-1 m-1 grow w-auto rounded-full border-2 flex justify-between pr-3"
      style="border-color: #a6afff; background-color: #171b25"
    >
      <input
        class="mx-2 px-2 py-2 shadow-md outline-none text-base text-[#a6afff] w-11/12 bg-[#171b25]"
        type="text"
        placeholder="try 'johnpapa'"
      />
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
    </form>
  </div>
</div>
