<% layout('layouts/boilerplate') -%>

<div class="h-28 translate-y-32 flex flex-col justify-between items-center">
  <%- include('partials/brand') %>
  <div class="p-2 flex w-screen h-16 md:w-[32rem]">
    <%- include('partials/search') %>
  </div>
</div>
