<% layout('layouts/boilerplate') -%>

<div class="h-48 translate-y-48 flex justify-center items-center">
  <div class="p-2 grow flex">
    <form
      action=""
      class="h-12 p-1 m-1 grow rounded-2xl border-2"
      style="border-color: #a6afff; background-color: #171b25"
    >
      <input
        class="px-4 py-2 rounded-full shadow-md outline-none text-base text-[#a6afff]"
        style="background-color: #171b25"
        type="text"
        placeholder="try 'johnpapa'"
      />
    </form>
  </div>
</div>
